<footer th:fragment="footer" class="pie_de_pagina">
    <div class="area_1">
        <div class="box">
            <figure>
                <a href="">
                    <img th:src="@{/images/Logo.png}" alt="Logo del proyecto">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Buscamos resolver problemas de la sociedad a través de la cooperación humana. Trabajamos para conectar a
                la humanidad en una sola red.</p>
        </div>

        <div class="box">
            <h2>CONTACTO</h2>
            <p>+54 9 261 237 8812</p>
            <p>+54 9 261 253 7925</p>
            <p>hola@eggeducacion.com</p>
        </div>

        <div class="box">
            <h2>SEGUINOS</h2>
            <div class="redes_sociales">
                <a th:href="@{https://www.facebook.com/EggTechDigital}" target="_blank" class="fa fa-facebook"></a>
                <a th:href="@{https://www.instagram.com/eggcooperation/}" target="_blank" class="fa fa-instagram"></a>
            </div>

        </div>

    </div>

    <div class="area_2">
        <small>&copy; 2022 <b>Texto de prueba</b> - Todos los derechos reservados.</small>
    </div>

</footer>