<!DOCTYPE html>
<link rel="stylesheet" href="../../static/css/styles.css">

<footer th:fragment="footer">
    <div class="area_1">
       
        <div class="box box_logo">
            <img  src="../../static/img/3Egg.png" alt="logo">
        </div>

        <div class="box box_contacto">
            <h2>CONTACTO</h2>
            <span class="iconFooter phone"></span><span class="text_imagen footer">+54 9 261 237 8812</span> <br>
            <span class="iconFooter phone"></span><span class="text_imagen footer">+54 9 261 237 8812</span> <br>
            <span class="iconFooter correo"></span><span class="text_imagen footer">hola@eggeducacion.com</span>
            
            
        </div>

        <div class="box box_redesSociales">
            <h2>SEGUINOS EN REDES</h2>
            <div class="redes_sociales">
                <span class="iconFooter facebook" th:href="@{https://www.facebook.com/EggTechDigital}"></span>
                <span class="iconFooter instagram" th:href="@{https://www.instagram.com/eggcooperation/}"></span>
                <span class="iconFooter linkedin" th:href="@{https://www.linkedin.com/company/eggcooperation/}"></span>
                <span class="iconFooter twitter" th:href="@{https://www.instagram.com/eggcooperation/}"></span>
            </div>

        </div>

    </div>

    <div class="area_2">
            <small>&copy; 2022 <b>Three Egg.</b> - Todos los derechos reservados.</small>
    </div>

</footer>