<header class="encabezado" th:fragment="header">
    <div class="logo">
        <!-- <img th:src="@{/imagenes/logo.jpg}" width="100" height="100"> -->
    </div>
    <div class="navegador">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/propiedades}">Explorar</a>

        <a sec:authorize="hasRole('USUARIO')" th:href="@{/propiedades/form}">Publicar</a>
        <a sec:authorize="hasRole('USUARIO')" th:href="@{/usuarios/perfil}">Mi perfil</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/usuarios/login}">Iniciar sesión</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/usuarios/sign-up}">Registrarse</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
    </div>
</header>