* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

body {

    font-family: 'Poppins', sans-serif;
}

.buscador {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.buscador-input {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
}

.buscador-select {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
}

.buscador-boton {
    /* background: #7c60ea; */
    background: #7bc6d3;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease
}

.buscador-boton:hover {
    opacity: 0.5;
}

.error-filtro{
    margin-left: 120px;
}

.error-ubicacion{
    margin-left:300px;
}

.anuncio {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    grid-row-gap: 30px;
}

.imagen {
    border-radius: 20px;
}

.imagen img {

    width: 350px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.anuncio-contenido {
    width: 350px;
    height: 550px;
    background: #fff;
    border-radius: 20px;

    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
}

.anuncio-informacion {
    font-family: 'Poppins', sans-serif;
}


.anuncio-informacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 6px;
    width: 350px;
    height: 250px;
}

.anuncio-titu {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.anuncio-titu h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.anuncio-descr {
    grid-area: 2 / 1 / 3 / 4;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.anuncio-descr p {
    margin-left: 10px;
    font-size: 17px;
}

.anuncio-precio {
    grid-area: 3 / 1 / 4 / 3;
    width: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    align-items: center;
}

.anuncio-precio h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.anuncio-precio span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}

.anuncio-iconos {
    grid-area: 4 / 1 / 5 / 4;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: start;
    padding-left: 10px;
}

.anuncio-iconos p {
    font-size: 20px;
}

.anuncio-verPropiedad {
    grid-area: 5 / 1 / 6 / 4;
    width: 50%;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    background: #7bc6d3;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.anuncio-verPropiedad-perfil {
    grid-area: 5 / 1 / 6 / 4;
    width: 50%;
    border-radius: 10px;
    height: 30px;
    color: #fff;
    background: #7bc6d3;
    margin: 0 auto;
    margin-top:10px;
    text-align: center;
}
.anuncio-verPropiedad-perfil:hover{
    opacity: 0.5;
}

.anuncio-verPropiedad:hover {
    opacity: 0.5;
}
.anuncio-link {
    background: #7bc6d3;
    width: 100%;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    display: grid;
    align-items: center;
    justify-items: center;
    
}

.anuncio-link-perfil {
    background: #7bc6d3;
    width: 100%;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.editar-propiedad{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    border-radius: 20px;
   
}

.boton-editar{
    width: 80%;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 10px;
    background: #f1f1f1;
    background: #7bc6d3;
}

.boton-editar:hover {
    background: red;
    
    
}

.encabezado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1f;
    padding-top: 10px;
    height: 100px;
}

.navegador {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    text-align: center;
    align-items: center;
    padding-right: 40px;
}

.navegador a {
    background: #f1f1f1;
    border-radius: 10px;
    height: 40px;
    color: black;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: grid;
    align-items: center;
    text-align: center;
}

.navegador a:hover {
    background: #7bc6d3;
}
/* Estilo footer */
.contenedor-footer {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
    background: #f4fafa;
    width: 100%;
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.contenedor-footer * {
    background: none;
}

.area_1 {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

.logofooter {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.logofooter * {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}



.contactos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding-left: 25%;
    width: 100%;
    margin-bottom: 20px;
}

.contactos * {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

.facebook a {
    text-decoration: none;
    border: none;
}

.instagram a {
    text-decoration: none;
    border: none;
}

.whatsapp {
    text-decoration: none;
    border: none;
}

/* Estilo al formulario de propiedad */


.form-contenedor {
    border-radius: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}



.formulario {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fondo-form-propiedad {
    border-radius: 20px;
    margin-top: 20px;
    width: 98%;
    height: 97%;
    background-image: url(../imagenes/Casa\ de\ Lago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #707070;
    text-align: center;

}

.formulario .input_group input {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
    outline: none;
    transition: all 0.3s ease;
}

.formulario .input_group select {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
    outline: none;
    transition: all 0.3s ease;
}

.formulario .input_group textarea {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
    border: none;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
    outline: none;
    transition: all 0.3s ease;
}

.formulario .input_group label {
    font-size: 16px;
    color: #707070;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.input_group {
    margin-bottom: 25px;
}


.formulario .input_group input:focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.formulario .boton_submit {
    height: 40px;
    background: #7bc6d3;
    border-radius: 10px;
    color: #fff;
    border: none;
    width: 90%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease
}

.formulario .boton_submit:hover {
    opacity: 0.5;
}

/* Estilos al perfil */

.fondo {
    background-image: url(../imagenes/header.jpg);
    height: 40rem;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: end;
    justify-items: center;
    font-size: 40px;
    color: white;
   
}

.perfil {
    display: grid;
    align-items: center;
    justify-items: center;
}

.contenedor-perfil {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background-color: #fff;
    margin: -8rem auto 0 auto;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
}

.contenedor-perfil h1 {
    margin-top: 25px;
}

.contenedor-perfil-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin: -4rem auto 0 auto;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
}

.botones-perfil {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.botones-perfil a {
    border-radius: 10px;
    width: 160px;
    text-align: center;
    color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    background: #7bc6d3;
    display: block;
    line-height: 40px;
}

.botones-perfil a:hover {
    background:#f1f1f1;
}

.perfil-informacion {
    margin-left: 20px;
    margin-right: 20px;
   
}

.contacto {
    margin-top: 15px;
     padding-bottom: 5px;
}

.contacto * {
    color: #707070;
}

.mis-propiedades {
    margin-top: 250px;
}

.mis-propiedades h2 {
    color: #707070;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-perfil-foto img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}