body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 11px;
    background-size: cover;
    background-attachment: fixed;
    
}


h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


h2{
    text-align: center;
    font-size: 15px;
}


* {
    box-sizing: border-box ;
}

.formulario{
width: 300px;
padding-top: 0px;
padding: 30px;
margin-top: 5px;
margin-left: 500px;
border: 3px solid #040d20;
  
}

label {
  
  line-height: 20px;
  padding-bottom: 2px;
  display: block;
  
}
label.leyenda{
    font-size: 9px;
    font-style: italic;
    line-height: 12px;
    padding-bottom: 12px;
}

input, select {
    width: 200px;
}

button{
    line-height: 25px;
    margin-top: 20px;
    margin-left: 84px;
}
.button_link{
    margin-left: 2px;
    margin-right: 10px;
    width: 100px;
    height: 60px;
}
.cargaPropiedad_btn{
    clear: both;
    width: 100%;
}
.cargaPropiedad_btn a {
    padding: 15px;
    background-color: rgb(128, 128, 128);
    border-radius: 6px;
    box-shadow: 0px 1px 10px 1px #000;
    width: 100%;
    display: block;
    font-size: 12px;
    text-align: center;
    font-size: 18px;
    color: white;
}


.container_vertical {
 width: 300px;
 float: left;
 margin-left: 20px;
}

.contenedor_prop{
height: 100%;
 }

img{
    width: 150px;
    height: 150px;
    
}
.portada {
    width: 100%;
    height: 220px;
    background-image:url(../img/portada.png);
    background-size: auto;
}
.cont_imagen{
    margin:auto;
   display:block;  
   text-align: center;
}
.card-container{
    width: 300px;
    height: 310px;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    float: left;
}

.card-container.perfil{
    transform: translate(0px,-60px);
 
}
.card-container.propiedad {
  
    margin: 10px;
    font-size: 9px;
    text-align: left;
}

.superior-container.propiedad{
    height: 150px;
}
.superior-container.propiedad img{
    height: 150px !important;
    width: 300px !important;
    }

.superior-container.perfil{
    background:#00aeff;
    height: 100px;
}
.image-container{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0px;
    transform: translate(100px,70px);
    }
.image-container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    }
.lower-container{
    height: 280px;
    background: #FFF;
    padding: 15px;
    padding-top: 40px;
    text-align: left;
    }
.lower-container.perfil p{
    padding-top: 0px;
    font-size: 16px;
    color: gray;
    margin-bottom: 15px;
}
.lower-container.propiedad{
    padding-top: 5px;
}
.infoPerfil{
    margin-bottom: 27px;
}

.lower-container .btn{
    padding: 12px 20px;
    background:#00aeff;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 80px;
    }
.lower-container .btn:hover{
    background: transparent;
    color: #00aeff;
    border: 2px solid #00aeff;
}
.btn_crearPropiedad{
    padding: 12px 20px;
    background: gray;
    font-size: 14px;
    border-radius: 30px;

}   
.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.icon.banio{
    background-image:url(../img/banio.png) ;
}
.icon.garage{
    background-image: url(../img/garage.png);
}
.icon.transaccion{
    background-image: url(../img/transac.png);
}
.icon.ubicacion{
    background-image: url(../img/direccion.png);
   
}
.icon.precio{
    background-image: url(../img/precio.png);
}
.icon.whatsapp{
    background-image: url(../img/whatsapp.png);
    
}
.icon.mail{
    background-image: url(../img/email.png);
}
.icon.tipo{
    background-image: url(../img/edificio.png);
}

.text_imagen{
   margin-right: 10px;
    color: #000;
}
.text_imagen.ubicacion, .text_imagen.precio {
    font-size: 12px;
    font-weight: bold;
    
}
.text_imagen.perfil{
    text-align:left ;
    padding-top: 0px;
    font-size: 16px;
    color: gray;
    margin-bottom: 15px;
}

.br_cardPropiedad{
    margin-bottom: 10px;
}

fieldset{
    margin: 0px;
    border-color: transparent;
}

 /*--------------Estilo de footer / header-----------------------*/
.clear{ clear: both !important;}

footer,  header {
    width: 100%;
    background-color: rgb(194, 194, 194);
    padding: 5px;
}

.area_1{
    clear: both;
}

.area_2{
    background-color: rgb(179, 178, 178);
    padding: 10px;
    clear: both;
}

.box{
    width: 33%;
    float: left;
}

.box h2{
    text-align: left;
}

.box.box_logo img{
    width: 180px;
    height: 180px;
    margin-left: 35px;
}
.redes_sociales{
    padding-top: 23px;
    padding-left: 15px;
}
.iconFooter{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    margin-top: 10px;
}

.iconFooter.phone{
    background-image: url(../img/telefono.png);
   
}
.iconFooter.correo{
    background-image: url(../img/correo.png);
}
.iconFooter.instagram{
    background-image: url(../img/instagram.png);
}
.iconFooter.facebook{
    background-image: url(../img/face.png);
}
.iconFooter.linkedin{
    background-image: url(../img/linkedin.png);
}
.iconFooter.twitter{
    background-image: url(../img/twitter.png);
}
.text_imagen.footer{
    text-align:left ;
    padding-top: 0px;
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}
.nav_header{
float: right;
padding-top: 25px;
}
.text_header{
  padding-right: 35px; 
  font-size: 12px; 
}

.text_header:hover{
    font-weight:  bolder;
}
.img_header{
    width: 60px;
    height: 60px;
    margin-left: 35px;
    
}
