body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 11px;
    background-size: cover;
    background-attachment: fixed;
  
}


h1 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    
}
* {
    box-sizing: border-box ;
}



.formulario{
width: 300px;
padding-top: 0px;
padding: 30px;
margin-top: 5px;
margin-left: 500px;
border: 3px solid #040d20;
  
}

label {
  
  line-height: 20px;
  padding-bottom: 2px;
  display: block;
  
}
label.leyenda{
    font-size: 9px;
    font-style: italic;
    line-height: 12px;
    padding-bottom: 12px;
}

input, select {
    width: 200px;
}

button{
    line-height: 25px;
    margin-top: 20px;
    margin-left: 84px;
}
