<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,500&display=swap"
        rel="stylesheet">
    <title> Inmobiliaria </title>
</head>

<body>
    <main>
        <div class="car-sign-up">

            <div class="fondo-sign-up">

            <div class="section_sign-up">
                <h1>Bienvenido</h1>
                <p class="descripcion">¡Estamos emocionados de verte!</p>

                <form class="form" th:action="@{/usuarios/__${action}__}" method="post" th:object="${usuario}">
                    <div class="form-sign-up">

                       <input type="hidden" th:field="${usuario.id}">
                      
                        <div class="input_group">
                            <label  for="nombre">Nombre:</label>
                            <input  id="nombre" type="text" name="nombre" placeholder="Juan"
                                th:field="*{nombre}" required>
                        </div>
        
                        <div class="input_group">
                                <label for="apellido">Apellido:</label>
                                <input  id="apellido" type="text" name="apellido" placeholder="Perez"
                                    th:field="*{apellido}" required>
                        </div>
        
                        <div class="input_group">
                                <label  for="correo"> Email:</label>
                                <input  id="correo" type="email" name="correo" placeholder="ejemplo@hotmail.com"
                                    th:field="*{correo}" required>
                        </div>
        
                        <div class="input_group">
                                <label  for="telefono"> Teléfono:</label>
                                <input  id="telefono" type="number" name="telefono" placeholder="3764-953174"
                                    th:field="*{telefono}" required>
                        </div>
    
                        <div class="input_group">
                                <label for="contrasena"> Contraseña:</label>
                                <input  id="contrasena" type="password" name="contrasena" placeholder="*****"
                                    th:field="*{contrasena}" required>
                        </div>
        
                        <button class="boton_submit" type="submit"> Registrar</button>
                        <p class="descripcion_form">Si ya tiene una cuenta <a th:href="@{/usuarios/login}">inicie sesión aquí</a></p>
                         
                    </div>
                    

                </form>
            </div>

        </div>
    </main>

</body>



</html>