<!DOCTYPE html>
<link rel="stylesheet" href="../../static/css/styles.css">

<header th:fragment="header">

    <div class="box box_logo">
        <img  src="../../static/img/3Egg.png" alt="logo">
    </div

    <div class="box"></div>

    <div class="box">
        <h2>SEGUINOS EN REDES</h2>
        <div class="redes_sociales">
            <a th:href="@{/usuarios/form}" class="get-started-btn scrollto">Iniciar Sesión</a>
            <a th:href="@{/usuarios/sign-up}" class="get-started-btn scrollto">Registrarse</a>
        </div>

    </div>




   
</header>