<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/head :: head"></head> 
    <header th:replace="fragments/header :: header"></header>

    <body>
        <main class="main-container">


            <div th:if="${success}" th:text="${success}" class="alert alert-success" role="alert"></div>

            <div th:if="${propiedades.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                Debe subir una propiedad.
                <a th:href="@{/propiedades/form}" class="alert-link">Subir Propiedad.</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:unless="${propiedades.isEmpty()}">

                <form th:action="@{/propiedades}" class="buscador">
                    <div>
                        <label>Buscador</label>
                    </div>

                    <div>
                        <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad">
                    </div>

                    <div>
                        <select name="tipo" id="tipo" >
                            <option value="casa">Casa</option>
                            <option value="departamento">Departamento</option>
                        </select>
                    </div>

                    <div>
                        <select name="tipoTransaccion" id="tipoTransaccion" >
                            <option value="alquiler">Alquiler</option>
                            <option value="venta">Venta</option>
                        </select>
                    </div>


                    <label>Precios</label>
                    <div>
                        <input type="number" name="min" id="min" >
                        <input type="number" name="max" id="max" >
                    </div>

                    <button class="btn btn-primary" type="submit">Buscarr</button>
                    
                    <input type="button" value="Limpiar" onclick="limpiarCampos()">
                </form>

                <div class="anuncio">
                    <div class="anuncio-contenido"  th:each="propiedad : ${propiedades}">
                        <div class="card-body text-center my-2">
                            <div class="imagen">
                                <img th:src="${propiedad.image} ? @{/uploads/__${propiedad.image}__} : @{/uploads/default-image.png}"
                                     width="200" height="200">
                            </div>
                            
                            <h4 th:text="${propiedad.titulo}">Titulo</h4>
                            <p th:text="${propiedad.precio}"></p>
                            <p th:text="${propiedad.tipo}"></p>
                            <p th:text="${propiedad.tipoTransaccion}"></p>
                            <p th:text="${propiedad.ciudad}"></p>
                            <a th:href="@{/propiedades/__${propiedad.id}__}">Ver Propiedad</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </main>



    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script type="text/javascript">
        function limpiarCampos() {
        window.location = 'propiedades';
        }
    </script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>

</html>