
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Perfil de propiedad </title>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,500&display=swap"
        rel="stylesheet">

    <!-- Materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- CSS Estilos -->
    <link rel="stylesheet" th:href="@{/css/perfil-propiedad.css}">
    <link rel="stylesheet" href="../static/css/perfil-propiedad.css">

    <!-- Bootstrap -->



</head>

<header class="encabezado">
    <div class="logo">
        <!-- <img th:src="@{/imagenes/logo.jpg}" width="100" height="100"> -->
    </div>
    <div id="navegador">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/propiedades}">Explorar</a>

        <a sec:authorize="hasRole('USUARIO')" th:href="@{/propiedades/form}">Publicar</a>
        <a sec:authorize="hasRole('USUARIO')" th:href="@{/usuarios/perfil}">Mi perfil</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/usuarios/login}">Iniciar sesión</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/usuarios/sign-up}">Registrarse</a>
        <a sec:authorize="hasRole('USUARIO')" th:href="@{/logout}">Salir</a>
    </div>

</header>

<body>
    <h1 th:text="${propiedad.titulo}"></h1>
    <div class="contenedor">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="carousel center-align">
                        <div class="carousel-item" th:each="img ,iterador : ${propiedad.image}">
                            <img th:src="'/uploads/'+${img}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="contenedor-informacion">
        <div class="contenedor-informacion-propiedad">

            <div class="informacion-tipo-venta">
                <p>Transacción:</p>
                <p th:text="${propiedad.tipoTransaccion.nombre}"></p>
            </div>

            <div class="informacion-tipo-propiedad">
                <p>Propiedad:</p>
                <p th:text="${propiedad.tipo.nombre}"></p>
            </div>

            <div class="informacion-precio">
                <p>$</p>
                <p th:text="${propiedad.precio}"></p>
            </div>

            <div class="icono">

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <p th:text="${propiedad.ciudad.nombre}"></p>
                <!--<p th:text="${propiedad.direccion}" sec:authorize="hasRole('USUARIO')"></p>-->
                <!--<p th:text="${propiedad.patio}" ></p>     patio??-->
                <!--<p th:text="${propiedad.usuario.telefono}" sec:authorize="hasRole('USUARIO')"></p> nro de contacto mas a la mano-->
                
                <img class="icono" loading="lazy" th:src="@{/imagenes/icono_wc.svg}" alt="icono baño">
                <p th:text="${propiedad.banos}"></p>

                <img class="icono" loading="lazy" th:src="@{/imagenes/icono_dormitorio.svg}"
                    alt="icono estacionamiento">
                <p th:text="${propiedad.ambiente}"></p>

                <img class="icono" loading="lazy" th:src="@{/imagenes/icono_estacionamiento.svg}"
                    alt="icono estacionamiento">
              <p th:text="${propiedad.estacionamiento} ? 'Sí' : 'No'"></p>
            </div>

            <div class="contenedor-informacion-descripcion">
                <span class="descripcion">Descripcion</span>
                <p th:text="${propiedad.descripcion.isEmpty()} ? 'El propietario no ha agregado una descripción.' : ${propiedad.descripcion}"></p>
            </div>
            
        </div>

        

        <section class="perfil">
            <div class="contenedor-perfil">
                <div class="contenedor-perfil-foto">
                    <img
                            th:src="${propiedad.usuario.image} ? @{/uploads/__${propiedad.usuario.image}__} : @{/uploads/default-image.png}" width="150" height="150"> 
                </div>
                
                <p th:text="|${propiedad.usuario.nombre}  ${propiedad.usuario.apellido}"></p>
                <p>Propietario</p>
                <a class="link-card-verPropietario" th:href="@{/usuarios/perfil/__${propiedad.usuario.id}__}">Ver perfil</a>
            </div>

        </section>
    </div>


    <!-- javascript Materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- javascript -->
    <script th:src="@{/js/carrusel.js}"></script>

</body>
<footer th:replace="fragments/footer :: footer"></footer>

</html>