<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head"></head>

<body>
<header th:replace="fragmentos/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div th:if="${success}" th:text="${success}" class="alert alert-success" role="alert"></div>

                <div th:if="${propiedades.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                    No hay ninguna propiedad.
                    <a th:href="@{/propiedades/form}" class="alert-link">Crear Propiedad.</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>


                <div th:unless="${propiedades.isEmpty()}" class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Dueño</th>
                            <th>Precio</th>
                            <th>Habitaciones</th>
                            <th>Baños</th>
                            <th>Patio</th>
                            <th>Estacionamiento</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="propiedad : ${propiedades}">
                            <td th:text="${propiedad.titulo}"></td>
                            <td th:text="${propiedad.descripcion}"></td>
                            <td th:text="|${propiedad.usuario.nombre} ${propiedad.usuario.apellido}|"></td>
                            <td th:text="${propiedad.precio}"></td>
                            <td th:text="${propiedad.ambiente}"></td>
                            <td th:text="${propiedad.banos}"></td>
                            <td th:text="${propiedad.patio}"></td>
                            <td th:text="${propiedad.estacionamiento}"></td>

                            <td><a class="btn btn-warning" th:href="@{/propiedades/form/__${propiedad.id}__}">Actualizar</a></td>
                            <td>
                                <form th:action="@{/propiedades/delete/__${propiedad.id}__}" method="POST">
                                    <button class="btn btn-danger" type="submit">Borrar</button>
                                </form>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>