<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head"></head>

<body>
<header th:replace="fragmentos/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <form th:action="@{/usuarios/__${action}__}" th:object="${usuario}" method="post" autocomplete="off"
                      class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}">

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{nombre}" id="nombre" class="form-control" placeholder="nombre"
                               required>
                        <label for="nombre">Nombre</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{apellido}" id="apellido" class="form-control" placeholder="apellido"
                               required>
                        <label for="apellido">Apellido</label>
                        
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{correo}" id="correo" class="form-control" placeholder="correo"
                               required>
                        <label for="correo">Correo</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" th:field="*{telefono}" id="telefono" class="form-control" placeholder="telefono"
                               required>
                        <label for="telefono">Telefono</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" th:field="*{contrasena}" id="contrasena" class="form-control" placeholder="contrasena"
                               required>
                        <label for="contrasena">Contrasena</label>

                    </div>



                    <button th:text="${action == 'create' ? 'Create' : 'Update'}" type="submit"
                            class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</main>



<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>

</html>